body {
    font-family: Arial, Helvetica, sans-serif;
}

:root{

--bgbutton-primary: #2D64E6;
--bgbutton-secondary: #363636;
--txtcolor-light: #366AE6;
--txtcolor-secondary: #727272;
--bgbutton-rame: #CD3D0F;
--bgbutton-light: #D9DADC;
--bg-plus: #BEBCBB;

}

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero_img_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_img_psplus{
    background-color:var(--bg-plus);
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.txt_color_secondary{
    color: var(--txtcolor-secondary);
}

.bg_secondary{
    background-color: var(--bgbutton-secondary);
}

.bg_primary{
    background-color: var(--bgbutton-primary);
}

.bg_rame{
    background-color: var(--bgbutton-rame);
}

.bg_light{
    background-color: var(--bgbutton-light);
}

.txt_color_light{
    color: var(--txtcolor-light);
}

.p_5px{
    padding: 2px;
}

.gap_50px{
    gap:50px;
}

.rounded_5{
    border-radius: 1.5rem;
}

.nuove_uscite{
    background-color: var(--bgbutton-secondary);
}